<!DOCTYPE html>
<html>
  <head>
    <title>Elections</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Upcoming Elections</h1>
    <p>Welcome to elections page</p>
  </body>
</html>
