<!DOCTYPE html>
<html>
  <head>
    <title>Polling Locations</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Polling Locations</h1>
    <p>Welcome to polling locations page</p>
  </body>
</html>
