<!DOCTYPE html>
<html>
  <head>
    <title>Users</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <h1 id="header">Create a New Account</h1>
      <div class="errormessages">
        
      </div>
      <form id="signupForm" method="post" action="/users/signup">
          <div class="form-field">
            <label for="firstname">First Name</label>
            <input class="input" id="firstname" name="firstname" type="text"></input>
          </div>
          <div class="form-field">
            <label for="lastname">Last Name</label>
            <input class="input" id="lastname" name="lastname" type="text"></input>
          </div>
          <div class="form-field">
            <label for="address">Address</label>
            <input class="input" id="address" name="address" type="text"></input>
          </div>
          
        <div class="form-field">
          <label for="city">City</label>
          <input class="input" id="city" name="city" type="text"></input>
        </div>
        <div class="form-field">
          <label for="state">State</label>
          <input class="input" id="state" name="state" type="text"></input>
        </div>
        <div class="form-field">
          <label for="zipcode">Zipcode</label>
          <input class="input" id="zipcode" name="zipcode" type="text"></input>
        </div>
        <div class="form-field">
          <label for="email">Email</label>
          <input class="input" id="email" name="email" type="email"></input>
        </div>
        <div class="form-field">
          <label for="password">Password</label>
          <input class="input" id="password" name="password" type="password"></input>
        </div>
        <div class="form-action">
          <button id="submitBtn" class="btn" type="submit">Send</button>
        </div>
      </form>      

  </body>
</html>
