<!DOCTYPE html>
<html>
  <head>
    <title>Users</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Users Login</h1>
    <div id="firebaseui-auth-containuer"></div>
    <div id="loader">Loading...</div>
  </body>
</html>
