@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  vertical-align: middle;
}

.title {
  font-size: 10em;
  padding-top: 100px;
}

#votingWrapper {
  width: 64%;
  margin: 0 auto;
}

#votingLocation, #votingCountDown {
  width: 13.25em;
  height: 13.25em;
  margin: 1em;
  text-align: center;
  float: left;
  vertical-align: middle;

  /* line-height: 15em; */
  font-family: 'Roboto', sans-serif;
  font-size: 2.25em;
  color: white;
}

#votingLocation {
  padding-top: 150px;
  background: -webkit-gradient(#FF3368, #FF4832);
  background: -webkit-linear-gradient(#FF3368, #FF4832);
  background: -moz-linear-gradient(#FF3368, #FF4832);
  background: -o-linear-gradient(#FF3368, #FF4832);
  background: linear-gradient(#FF3368, #FF4832);
}

#votingCountDown {
  padding-top: 180px;
  background: -webkit-gradient(#33BFEC, #0898C6);
  background: -webkit-linear-gradient(#33BFEC, #0898C6);
  background: -moz-linear-gradient(#33BFEC, #0898C6);
  background: -o-linear-gradient(#33BFEC, #0898C6);
  background: linear-gradient(#33BFEC, #0898C6);
}
