body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* CSS Styling for Navigation Bar */
.ml-auto {
  left: auto !important;
  right: 0px;
}
